﻿@model NurseryS.Models.Post

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table style="width: 100%;">
  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well" >

    <fieldset>
        <legend>New Post</legend>

      
        @*
        <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseDate)
            @Html.ValidationMessageFor(model => model.ReleaseDate)
        </div>
        *@
        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text, 10, 55, null)
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        
         <!-- Place this in the body of the page content -->

       

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>


</div>
    </div>
    </td>
    </tr>
    </table>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
