﻿@using NurseryS.ViewModels
@model NurseryS.ViewModels.CommentViewModel

@{
    ViewBag.Title = "Create";
}




        <table style="width: 100%;">
  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well">
                Replying to @Model.post.Account.UserName:
                @Html.Raw(Model.post.Text)
            </div>
            <div class="well" >
<h2>Commment</h2>

    <fieldset>
        <legend></legend>
@using (Html.BeginForm("Create", "Comment", new { postID = Model.postID}, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <div class="editor-field">
            @Html.TextAreaFor(model => model.comment.Text, 10, 55, null)
            @Html.ValidationMessageFor(model => model.comment.Text)
        </div>

        <div>
            @Html.HiddenFor(m => m.comment.Post)
            @Html.HiddenFor(m => m.comment.Account)
        </div>
                
            

        <p>
            <input type="submit" value="Create" name="CreateComment" />
        </p>
}
    </fieldset>
    
    </div>
    </div>
    </td>
    </tr>
    </table>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
