﻿<!DOCTYPE html>

@using NurseryS.Models
@model NurseryS.ViewModels.HomeViewModel



<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      
  </head>

  <body role="document">

      <table style="width: 100%;">
  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well" >

      <h5>@ViewBag.Title</h5>
      
      

        <div class="page-header">
        <h1>Latest information from North Oaks Hospital</h1>
            <hr />
            @*
            <p>
                <button type="button" class="btn btn-lg btn-default" formaction="Index">New Post</button>
            </p>*@
      </div>
      @if (Model.posts.Count == 0)
      {
          <div class="well">
              <p>
                  There are no posts to display at this time.
              </p>
          </div>
      }
      @foreach(Post post in Model.posts)
      {
          
      <div class="well">
          <p>@post.Account.UserName Said:</p>
        <p>@Html.Raw(post.Text)</p>
          <br />
          <br />
          <p>Date: @post.ReleaseDate</p>

      </div>

      }
    
                </div>
    </div>
    </td>
    </tr>
    </table>
  </body>
</html>
