﻿@model NurseryS.Models.Account

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    
<table style="width: 100%;">
  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well" >

<h2>Delete</h2>

<h3>Are you sure you want to delete your account?</h3>


    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
    
    </div>
    </div>
    </td>
    </tr>
    </table>
}
