﻿@model NurseryS.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Details";
    
}
<table style="width: 100%;">
  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well" >


<fieldset>
    <legend>@Model.account.UserName</legend>



    <div class="display-label">
         @Html.DisplayNameFor(model => model.account.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.account.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.account.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.account.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.account.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.account.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.account.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.account.LastName)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserName}) |
    @Html.ActionLink("Back to List", "Index")
</p>

    </div>
    </div>
    </td>
    </tr>
    </table>