﻿

<table style="width: 100%;">
  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well" >
<h2>You Have Been Logged Out!</h2>
</div>
    </div>
    </td>
    </tr>
    </table>