﻿@using NurseryS.Infrastructure
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SOS - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <!--Start of Telerik head-->
@*            @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.windows7.css").Combined(true).Compress(true)))*@
        <!--End of Telerik head-->
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/SOSLogo.png" alt="Student Organization Simplifier" width="146" height="87" />
                </div>
                <div class="site-title">
                    @Html.ActionLink("Nursery", "Index", "Home")
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
@*                    <section id="navmenu">
                        @Html.Partial("_NavMenuPartial")
                    </section>*@
                </div>
            </div>
        </header>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <table>
                    <tr>
@*                        <td >
                <section id="vnavmenu">
                    @Html.Partial("_VNavMenuPartial")
                </section>
                        </td>*@
                        <td>
                @RenderBody()
                        </td>
                    </tr>
                </table>
            </section>
        </div>
        
        } 
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>
                        
                        Date: @DateTime.Now.Month / @DateTime.Now.Day / @DateTime.Now.Year  - SOS Test Version: v1.04

                    </p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

    </body>
</html>
