﻿@*@{
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li @{if ((ViewContext.RouteData.Values["action"].ToString().Equals("Index"))
                      && (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.HomeController().GetType().Name))){<text>class="active"</text>}}><a class="brand" href="~/Home/Index"> <img src="~/Images/SOSLogo.png" alt="Student Organization Simplifier" width="146" height="87"></a></li>
            @if (User.Identity.Name == "Admin1") {
                  <li @{if ((ViewContext.RouteData.Values["action"].ToString().Equals("Index"))
                      && (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.AdminController().GetType().Name))){<text>class="active"</text>}}><a href="~/Account/Index">Account</a></li>
            }
            @if (User.Identity.Name == "Member1") {
                  <li @{if ((ViewContext.RouteData.Values["action"].ToString().Equals("Index"))
                      && (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.MemberController().GetType().Name))){<text>class="active"</text>}}><a href="~/Account/Index">Account</a></li>
            }
            @if (User.Identity.Name == "Leader1") {
                  <li @{if ((ViewContext.RouteData.Values["action"].ToString().Equals("Index"))
                      && (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.LeaderController().GetType().Name))){<text>class="active"</text>}}><a href="~/Account/Index">Account</a></li>
            }

            <li @{if ((ViewContext.RouteData.Values["action"].ToString().Equals("Index"))
                      && (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.OrganizationController().GetType().Name))){<text>class="active"</text>}}><a href="~/Organization/Index">Organizations</a></li>
            <li @{if((ViewContext.RouteData.Values["action"].ToString().Equals("Calendar"))
                      && (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.OrganizationController().GetType().Name))){<text>class="active"</text>}}><a href="~/Organization/Calendar">Calendar</a></li>

        </ul>
        <div class="tab-content">
        
        </div>
    </div>
}*@
@{
    var Cntrl = ViewContext.RouteData.Values["controller"].ToString();
    var Action = ViewContext.RouteData.Values["action"].ToString();
}


<div class="nav span2 ">
@*                <form action="http://localhost/NurseryS/Home/SearchResults/">
                <div style="float: left;"><input type="text" name="q" id="tipue_search_input"></div>
                <div style="float: left; margin-left: 13px;"><input type="button" id="tipue_search_button" onclick="this.form.submit();"></div>
                </form>
                <div style="clear: both"></div>*@
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_StandardSideBarPartial");
    }
    @if (Cntrl.Equals("Organization") && Action.Equals("FrontPage"))
    {
        @Html.Partial("_OrganizationToolbarPartial");
    }


</div>
   
    
    

@*{
    
    <div class="container">
        <div class =" span3 bs-docs-sidebar">
            <ul class ="nav nva-list bs-docs-sidenav">
                <li><a href="~/Organization/Index">Organizations</a></li>
                <li><a href="~Organization/Calendar">Calendar</a></li>
            </ul>
        </div>
    </div>
}*@