﻿@using NurseryS.Models;

@*{
<div class="nav-collapse">
    <ul class="nav nav-pills nav-stacked span3">
}*@



@{
    var Cntrl = ViewContext.RouteData.Values["controller"].ToString();
    var Action = ViewContext.RouteData.Values["action"].ToString();
}
<ul class="nav navbar-nav">     
        <li>
            @Html.ActionLink("Register", "Create", "Account")
        </li>
       
        <li>
            @Html.ActionLink("Login", "Login", "Account")
        </li>

</ul>
@*{
    </ul>
</div>    
}*@

@*{
@if (Request.IsAuthenticated)
    {
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
        <!--Your UserID is Membership.GetUser(User.Identity.Name).ProviderUserKey.ToString()-->
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    }

                            @Html.Raw("&nbsp;")
                            @Html.Raw("&nbsp;")
    else
    {
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    }
}*@