﻿@using NurseryS.Infrastructure
@using NurseryS.ViewModels
@model ViewModelBase
@{
    var Cntrl = ViewContext.RouteData.Values["controller"].ToString();
    var Action = ViewContext.RouteData.Values["action"].ToString();
}

<script type="text/javascript">

    function setLogoutValue()
    {
        Model.logout = true;
            
    }

</script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form pull-left">
                <a class="navbar-brand" href="~/Home/Index">NurseryS</a>
          <ul class="nav navbar-nav">
              @if(User.Identity.IsAuthenticated)
              {
              <li>
                  @Html.ActionLink("New Post", "Create", "Post")
              </li>
              }

          </ul>
          </form>
            <form class="navbar-form pull-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class ="nav navbar-nav">
                        <li>
                            @Html.ActionLink(User.Identity.Name, "Details", "Account")
                        </li>
                        <li>
                            @Html.ActionLink("Log Off", "Logoff", "Account")
                        </li>
                    </ul>
                    
                    
                }
                @if(!User.Identity.IsAuthenticated)
                {

                    @Html.Partial("_LoginPartial", Model)
     
                }
            </form>
            
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!--

    <div class="row pull-left" style="padding-left: 20px;">
        <ul class="nav">
            <li><a title="All Organizations" class="brand" href="~/Home/Index">Student Organization Simplifier</a></li>
        </ul>
        <div class="nav-collapse ">
            <ul class="nav nav-tabs">
    @*
                @if(true){//User.Identity.IsAuthenticated){
                    <li @{if ( (Cntrl.Equals("User") && (Action.Equals("HomeConsole")) )){<text>class="active"</text>}}><a href="~/User/HomeConsole">Home Console</a></li>
                }
                @if(true){//User.Identity.IsAuthenticated){
                <li @{if (Cntrl.Equals("Home")){<text>class="active dropdown"</text>} else{<text>class="dropdown"</text>}}>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Organizations <img src="~/Images/1351784046_arrow_state_grey_expanded.png" alt="" /></a>
                    <ul class="dropdown-menu">
    *@
    -->
                        <!-- links -->
<!--
                        <li><a href="~/Home/Index" >Complete Listing</a></li>
                        <li><a href="~/Organization/MyOrganizations" >My Organizations</a></li>
                        <li><a href="~/Organization/CreateNewOrgApplication">New Organization Application</a></li>
                    </ul>
                </li>
                }

               
                if(true){//User.Identity.IsAuthenticated && StaticMethods.getCurrentUserView().isUniversityPresident == true)
                
                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Faculty <img src="~/Images/1351784046_arrow_state_grey_expanded.png" alt="" /></a>
                    <ul class="dropdown-menu">

    -->
                        <!-- links -->
                        
                       
                       
                        <!--
                        
                        <li>Html.ActionLink("Manage Org Apps", "ManageNewOrgApps", "Organization", null, null)</li>
                    </ul>
                </li>
                }


                if(true){//User.Identity.IsAuthenticated && User.IsInRole("Administrator")){
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <img src="~/Images/1351784046_arrow_state_grey_expanded.png" alt="" /></a>
                    <ul class="dropdown-menu">
                            -->
                        <!-- links -->
                        
                       
                       <!--
                        
                        <li><a href="~/User/Index">User Index</a></li>
                        
                    </ul>
                </li>
                }
            </ul>                
                           
        </div>
                           -->
                           <!--/.nav-collapse -->
    <!--  </div>  -->

@*}*@
    @*
    
    
    
<div class="row">
<div class="nav-collapse">
            <ul class="nav">
              <li @{if (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.HomeController().GetType().Name)){<text>class="active"</text>}}> @new {linktext = "home", actionname="index", controllername="home", roles="all, anonymous"}</li> 
              <li @{if (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.MemberController().GetType().Name)){<text>class="active"</text>}   }>@new {linktext = "member", actionname="index", controllername="member", roles="administrator, leader, member"}</li>
              <li @{if (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.LeaderController().GetType().Name)){<text>class="active"</text>}   }>@new {linktext = "leader", actionname="index", controllername="leader", roles="administrator, leader"}</li>
              <li @{if (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.ProviderController().GetType().Name)){<text>class="active"</text>}   }>@new {linktext = "grant provider", actionname="index", controllername="provider", roles="administrator, provider"}</li>
              <li @{if (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.EmployerController().GetType().Name)){<text>class="active"</text>}   }>@new {linktext = "employer", actionname="index", controllername="employer", roles="administrator, employer"}</li>
              <li @{if (ViewContext.Controller.GetType().Name.Equals(new NurseryS.Controllers.AdminController().GetType().Name)){<text>class="active"</text>}   }>@new {linktext = "admin", actionname="index", controllername="admin", roles="administrator"}</li>
                <li class="divider-vertical"></li>
                <li class="divider-vertical"></li>
                <li id="login">@Html.Partial("_loginpartial")</li>
            </ul>
          </div><!--/.nav-collapse -->
    </div>
}*@