﻿@using System.Web.Optimization



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
    <!-- TINYMCE Place inside the <head> of your HTML -->
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            toolbar: [
        "undo redo | styleselect | bold italic | link image",
        "alignleft aligncenter alignright"
            ],
            menubar: "tools table format view insert edit"
        });
    </script>
    


    <!-- styles -->
    @Styles.Render("~/Content/bootstrap-theme/css", "~/Content/css")
    
    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet">


    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="~/Content/icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/icons/apple-touch-icon-57-precomposed.png">
      @if(IsSectionDefined("AddToHead")){
        @RenderSection("AddToHead", false)
      }
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="example.css">
  </head>
    
  <body class="body-bg">
  <div id="wrapper">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container">
             @*
           <div class="nav fixed-right pull-right ">
             <div class="row">
               @Html.Partial("_LoginPartial") 
             </div>
           </div>
             *@
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </a>
            
           @Html.Partial("_TopMenuPartial") 

        </div>
      </div>
    </div>
      

    <div id="main">
    <div class="container-fluid" >
      <div class="row-fluid">
           <div>
               <br />
               <br />
               <br />
               <br />
               <br />
               <br />
        @RenderBody()
           </div>
      </div>
    </div> <!-- /container -->
        
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    </div>
  </div>
  @Html.Partial("_FooterPartial")
      @if(IsSectionDefined("AddToEnd")){
            @RenderSection("AddToEnd", false)
      }

      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
