﻿<div class="navbar span12">
    <div id="footer" style="background-color: rgba(22,22,22,0)">         
        Date: @DateTime.Now.Month / @DateTime.Now.Day / @DateTime.Now.Year  - Nursery Application
        <br />
        @Html.Raw("&copy;") 2015 North Oaks Hospital
    </div>
</div>
        