﻿@model NurseryS.ViewModels.ErrorViewModel
@{
    ViewBag.Title = "Problem";
}

<div class="middle-container">

    <!--- middle Container ---->

    <div class="middle-container">
        <div class="paddings" data-moduleid="2050" id="ContactUsPane">
            @if (Model != null)
            { 
                <h1>@Model.Message</h1>
                <p>@Model.Description</p>
            }
            else
            {
                <h1>An Error Has Occured</h1>
                <p>An unexpected error occured on our website. The website administrator has been notified.</p>
            }

            <p><a href="/" class="btn">Go To Home Page</a></p>
        </div>
    </div>
    <!--- middle Container ---->

</div>