﻿<!DOCTYPE html>

@using NurseryS.Models
@using NurseryS.ViewModels
@model NurseryS.ViewModels.HomeViewModel

@{
    var showPastDays = -90;
}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <!-- Custom styles for this template
    <link href="theme.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <title></title>
  </head>

     


  <body role="document">
  
<table style="width: 100%;">

  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well" >

      <h5>@ViewBag.Title</h5>
      


      
        <div class="page-header">
        <h1>Latest Information from North Oaks Hospital</h1>
            <hr style="border-color: #000000"/>
            
      </div>
      @if (Model.posts.Count == 0)
      {
          <div class="well" style="background-color: #DCDCDC; border: 1px solid #000000">
              <p>
                  There are no posts to display at this time.
              </p>
          </div>
      }
      else
      {
          <div class="container-fluid">
          @foreach (Post post in Model.posts.Where(pst => DateTime.Compare(pst.ReleaseDate, DateTime.Now.AddDays(showPastDays)) > 0))
          {
              <div>
                  <h1>@post.Title</h1>
              </div>
              <div class="row well" style="background-color: #DCDCDC; border: 1px solid #000000"> 
                  
                    <p>@Html.Raw(post.Text)</p>
                  <br />
                  <hr style="border-color: #000000"/>
                  
                  <p style="text-align:right; font-size: smaller; " >
                 
                      
                      By: @post.Account.UserName<br />
                      Date: @post.ReleaseDate 
                  </p>
                  <hr style="border-color: #000000"/>
                @if(User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("Create", "Comment", new { postID = post.ID, cvm = (object)null  }, FormMethod.Post, null))
                    {
                        Html.Hidden("postID", post.ID);
                        <input type="submit" value="Comment" name="edit" /> 
                    }
                } 
                 
                  @if(post.Comments.Count() > 0)
                  {
                    <h3>Comments:</h3>
                  }
                @{
                      int numComs = 0;
                      foreach (Comment comment in post.Comments)
                      {
                          
                          <div class="well">
                             
                              @comment.Account.UserName: @Html.Raw(comment.Text)
                            
                          </div>
                          numComs++;
                          if (numComs >= 5)
                          {
                              break;
                          }
                  
                      }
                  }
                  
              </div>
              
              <br />
                  <br />
          }
          </div>
      }
                
            </div >
            </div>
         </td>
       </tr>
</table>
 
     

  </body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}