﻿@model NurseryS.ViewModels.AccountViewModel
@using NurseryS.Infrastructure

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    

<table style="width: 100%;">
  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well" >

<h2>Registration</h2>
    @Html.MyValidationSummary()
    <fieldset>
        <legend>Account</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.account.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.account.UserName)
        </div>

        <div class="editor-label">
            @Html.Label("Password:")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.passTemp)
            
        </div>

        <div class="editor-label">
            @Html.Label("Reenter Password:")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.passReTemp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.account.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.account.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.account.Website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.account.Website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.account.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.account.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.account.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.account.LastName)
        </div>



        <hr />
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    
</div>
    </div>
    </td>
    </tr>
    </table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
