﻿@model NurseryS.ViewModels.AccountDetailsViewModel
@using NurseryS.Models

@{
    ViewBag.Title = "Details";
    
}



<table style="width: 100%;">
    <thead>
        <tr>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
     
  <tr>
     <td style="text-align: center">
        <div class="container">
            <div class="well" >


<fieldset>
    <legend>@Model.account.UserName Details</legend>
   

    <div >
         @Html.DisplayNameFor(model => model.account.Email): @Html.DisplayFor(model => model.account.Email)
    </div>

    <div >
         @Html.DisplayNameFor(model => model.account.Website): @Html.DisplayFor(model => model.account.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.account.FirstName): @Html.DisplayFor(model => model.account.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.account.LastName): @Html.DisplayFor(model => model.account.LastName)
    </div>

    <br />
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.account.UserName}) 
</p>

            </div>
            </div>
         </td>
      </tr>
        <tr>
            <td style="text-align: center">
      @if(Model.posts.Count > 0)
      {
    
        <div class="container">
            <div class="well" >
                <h1>Posts: </h1>
                <div>
                    
                    @foreach (Post pst in Model.posts)
                    {
                        <div class="well">
                        @Html.ActionLink(pst.Title, "Details", "Post", new { id = pst.ID }, null);
                        </div>
                    }
                </div>
                </div>
            </div>
          
      }
                </td>
 
          </tr>
   </tbody>
    </table>