﻿@model NurseryS.Models.Account
@using NurseryS.Infrastructure

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.MyValidationSummary()

    <table style="width: 100%;">
  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well" >

    <fieldset>
        <legend>Editing @Model.UserName</legend>

        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Salt)
        @Html.HiddenFor(model => model.Password)
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Website)
            @Html.ValidationMessageFor(model => model.Website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>     

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
        </div>
    </div>
    </td>
    </tr>
    </table>
}


   
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
