﻿@model NurseryS.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<table style="width: 100%;">
  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well" >
                <fieldset>
                    <legend>Login</legend>
                    @if (ViewBag.FailMessage != null)
                      {
                          <p style="color: red">
                              @ViewBag.FailMessage
                          </p>
                      }

                    <div class="editor-label">
                        @Html.LabelFor(model => model.UserName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Password)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <p>
                        <input type="submit" value="Login" />
                    </p>
                </fieldset>
            </div> 
        </div>
    </td>
  </tr>
</table>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
