﻿@model NurseryS.Models.Post
@using NurseryS.Infrastructure

@{
    ViewBag.Title = "Create";
    if(ViewBag.PostText != null)
    {
        Model.Text = ViewBag.PostText;
    }
}

<script>
function inputFocus(i){
    if(i.value==i.defaultValue){ i.value=""; i.style.color="#000"; }
}
function inputBlur(i){
    if(i.value==""){ i.value=i.defaultValue; i.style.color="#888"; }
}
</script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.MyValidationSummary()

    <table style="width: 100%;">
  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well" >

    <fieldset>
        <legend>@Html.TextBoxFor(model => model.Title, new {style="width: 80%; height: 100; text-align:center", Value="Title", onfocus="inputFocus(this)", onblur="inputBlur(this)"})</legend>
        


        
        <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseDate)
        </div>
        
        <div class="editor-field">
            <input class="datefield" data-val="true" data-val-required="Date is Required"
                   id="ReleaseDate" name="ReleaseDate" type="date" value=""/>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text, 10, 55, null)
        </div>
        
         <!-- Place this in the body of the page content -->

       

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>


</div>
    </div>
    </td>
    </tr>
    </table>
    
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#datefield").datepicker({ dataFormat: 'dd/mm/yy' });
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
