﻿@model NurseryS.Models.Post

@{
    ViewBag.Title = "Details";
}


<table style="width: 100%;">
  <tr>
     <td style="text-align: center; vertical-align: middle;">
        <div class="container">
            <div class="well" >

<fieldset>
    <legend>@Model.Title</legend>


    <div class="well">
         @Html.DisplayNameFor(model => model.ReleaseDate): @Html.DisplayFor(model => model.ReleaseDate)
    </div>


    <div class="well">
        @Html.Raw(@Model.Text)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID })
</p>

</div>
    </div>
    </td>
    </tr>
    </table>