﻿
<div class="page-header">
    <h1>PostService</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Posts</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: posts">
                    <li>
                        <h2 data-bind="text: Title"></h2>
                        <strong><span data-bind="text: UserName"></span></strong>
                        <div data-bind="text: Tags"></div>
                        <div><p data-bind="text: Content"></p></div>
                        <div class="panel-body">
                            <ul class="list-unstyled" data-bind="foreach: Comments">
                                <li>
                                    <strong><span data-bind="text: UserName"></span></strong>
                                    <div data-bind="text: CreateDate"></div>
                                    <div><p data-bind="text: Content"></p></div>
                                </li>
                            </ul>
                        </div>                          
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var ViewModel = function () {
            var self = this;
            self.posts = ko.observableArray();
            self.error = ko.observable();

            var wsUri = '/api/Post/';

            function ajaxHelper(uri, method, data) {
                self.error(''); // Clear error message
                return $.ajax({
                    type: method,
                    url: uri,
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: { "Api-Key": "tlscwUlGSOlgPosOfbcZiww" },
                    data: data ? JSON.stringify(data) : null
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    self.error(errorThrown);
                });
            }

            this.getAllPosts = function() {
                ajaxHelper(wsUri, 'GET').done(function (data) {
                    self.posts(data);
                });
            }

            // Fetch the initial data.
            
        };

        var view = new ViewModel();
        ko.applyBindings(view);
        view.getAllPosts();
    </script>
}